.contact-form {
  padding: 60px 40px;
  background-color: #fff;
}

.contact-form__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 40px;
}

.contact-form__item label {
  width: 200px;
  font-size: 16px;
  font-weight: bold;
}

.contact-form__item span {
  margin-left: 4px;
  color: #d80000;
}

.contact-form__item input,
.contact-form__item textarea {
  flex: 1;
  padding: 18px;
  background: #ffffff;
  border: 2px solid #000000;
  font-size: 14px;
}

.contact-form textarea {
  height: 200px;
  resize: none;
}

.contact-form__btn {
  text-align: center;
  margin-top: 40px;
}

.contact-form__btn button {
  background: #f4b400;
  color: #000000;
  border: none;
  padding: 14px 80px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #000000;
}

.contact-form__btn button:hover {
  opacity: 0.8;
}
.contact-lead {
  line-height: 1.8;
}

.contact-lead h5 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact-lead p {
  font-size: 16px;
}
.contact-form__radio {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.contact-form__radio label {
  align-items: center;
  font-size: 16px;
}
.contact-form__radio input[type="radio"] {
  transform: scale(1.2);
  margin: 0 5px 2px 0;
}
